%ul.nav.navbar-nav
  %li.dropdown
    %a.dropdown-toggle{role: "button", id:"links", data:{toggle: "dropdown"}, aria:{expanded:"false"}}
      =current_connection.nil? ? "Connections" : current_connection.database
      %span.caret
    %ul.dropdown-menu{role:"menu", aria:{labelledby:"links"}}
      -connections.each do |conn|
        %li{role:"presentation"}
          %a{href:"#{url_for("/database/#{conn.id}")}", title: "#{conn.host}/#{conn.database}"}
            #{conn.database} 
            %em.small
              #{conn.host}
  %li.dropdown
    %a.dropdown-toggle{href:"#{url_for("#{routes.first.path}")}", role: "button", id:"routes", data:{toggle: "dropdown"}, aria:{expanded:"false"}}
      =routes.first.title
      %span.caret
    %ul.dropdown-menu{role:"menu", aria:{labelledby:"routes"}}
      -routes.each do |route|
        %li{role:"presentation"}
          %a{href:"#{url_for("#{route.path}")}"}
            =route.title
  %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "GET"}
    .form-group
      %input.form-control#query{type: "TEXT", name: "query", autofocus: true, placeholder: "Search"}
  %form.navbar-form.navbar-left{id: "note", action: "#{url_for("/notes")}", method: "POST"}
    .form-group
      %input.hidden{name:"path", value:path}
      %input.form-control#note{type: "TEXT", name: "note", placeholder: "Add a Note"}
      %input{type:"submit"}
  %li.navbar-right
    %a{href:"#{url_for("/logout")}"}
      Logout
